@using snfcofcBlzrwb.Shared.Data
@using snfcofcBlzrwb.Shared.Services
@inherits LayoutComponentBase
@inject ToastService ToastService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@
        <article class="content px-4">
            @Body
        </article> 
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ha ocurrido un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>

<SfToast @ref="ToastRef" ShowCloseButton="true" Timeout="5000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

@code {
    private SfToast? ToastRef;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && ToastRef != null)
        {
            ToastService.Register(ToastRef);
        }
    }
}
<style>
    .main-layout {
        padding: 1rem;
        animation: fadeIn 0.3s ease-in;
    }

    #blazor-error-ui {
        background-color: #ffe0e0;
        color: #900;
        padding: 1rem;
        border-top: 2px solid #c00;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-weight: 600;
        display: none;
    }

    
  }  
        #blazor-error-ui.show {
            display: block;
        }
</style>