@inject IAuthService AuthService


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <p class="navbar-brand" href="">SAN FRANCISCO APP</p>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-bi-Player" aria-hidden="true" ></span> Players
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="match/view">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Partidos
            </NavLink>
        </div>

        @if (AuthService.GetUserRoles().Contains("B4aAdminUser"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/dashboard">
                    <i class="fi fi-ss-data-processing"></i>
                    <span  class="bi bi-gear-fill"></span> XI IDEAL
                </NavLink>
            </div>
        }
        <div class="nav-footer">
            <SfButton CssClass="e-danger logout-button" Content="Cerrar Sesión" IconCss="bi bi-LogOut" OnClick="ConfirmLogout"></SfButton>
        </div>


    </nav>
</div>

@code{
    [Inject] private NavigationManager Navigation { get; set; }

    private void ConfirmLogout()
    {
        AuthService.ClearSession();
        Navigation.NavigateTo("/login", true);
    }

}